/* Warna dots putih hanya untuk Gallery */
.gallery-section .slick-dots li button:before {
  color: white !important;
  opacity: 0.8;
}

.gallery-section .slick-dots li.slick-active button:before {
  color: white !important;
  opacity: 1;
}

.gallery-section .slick-dots {
  bottom: -35px;
}
